.main{
    position: absolute;
    top: 12%;
    background-color: #f3f8fd;
    height: 88%;
    width: 100%;
    overflow: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: black; */
    /* display: none; */
}
.table{
    width: 70%;
    /* height: 70%; */
    margin-left: 15%;
    margin-top: 5%;

}