<div class="main">
    <div class="table">
        <div class="table-head">
            <div class="col-name">
                <span class="left-space">Field Name</span>
            </div>
            <div class="col-name col-details"><span class="left-space">Display Label</span></div>
            <div class="col-name col-details"><span class="left-space">Field Type</span></div>
            <div class="col-name col-details"><span class="left-space">Category</span></div>
            <div class="col-name col-details"><span class="left-space">Action</span></div>
        </div>

        <div class="table-head">
            <input class="row col-name " type="text"/>
            <input class="col-name col-details row" type="text" />
            <select class="col-name col-details row"  ></select>
            <select class="col-name col-details row" type="text" ></select>
            <div class="col-name col-details color"> <button class="btn row">SAVE</button> <div class="btn row delete"><mat-icon class="icon">delete</mat-icon></div> </div>
        </div>

           <div class="table-head">
            <input class="row col-name " type="text"/>
            <input class="col-name col-details row" type="text" />
            <select class="col-name col-details row"  ></select>
            <select class="col-name col-details row" type="text" ></select>
            <div class="col-name col-details color"> <button class="btn row">SAVE</button> <div class="btn row delete"><mat-icon class="icon">delete</mat-icon></div> </div>
        </div>
    </div>
</div>