.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 80%;
  margin-top: 5rem;
  position: relative;
  left: 10%;
}
.btn {
  background-color: red;
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  color: white;
}
.update {
  background-color: cornflowerblue;
}

.dialog {
  position: relative;
  height: 70%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  top: 20%;
  left: 25%;
}
.close {
  position: relative;
  left: 95%;
  top: 3%;
}
.close:hover {
  color: red;
  cursor: pointer;
}
.body {
  position: relative;
  top: 10%;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  height: 10%;
  width: 80%;
  margin-bottom: 1rem;
}

.edit-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.122);
}
.search {
  position: absolute;
  top: 2%;
  left: 80%;
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}
