<div class="main">
    <div class="menu">
        <div class="icons">
            <div class="icon">
                <mat-icon>person_add_alt</mat-icon>
                add
            </div>
            <div class="icon">
                <mat-icon>edit</mat-icon>
                edit
            </div>

            <div class="icon">
                <mat-icon>delete</mat-icon>
                delete
            </div>

            <div class="icon">
                <mat-icon>published_with_changes</mat-icon>
                Default
            </div>

            <div class="icon">
                <mat-icon>unpublished</mat-icon>
                unpublished
            </div>

            <div class="icon">
                <mat-icon>autorenew</mat-icon>
                refresh
            </div>
        </div>
    </div>
    <div class="table">
        <div class="table-head">
            <div class="col-name">
                <span class="left-space">Name</span>
            </div>
            <div class="col-name col-details"><span class="left-space">Details</span></div>
            <div class="col-name col-details"><span class="left-space">Color</span></div>
            <div class="col-name col-details"><span class="left-space">Default</span></div>
        </div>

        <div class="table-head row-spece">
            <input class="row col-name " type="text"/>
            <input class="col-name col-details row" type="text" />
            <input class="col-name col-details row"  />
            <input class="col-name col-details row" type="text" />
        </div>

        <div class="table-head row-spece">
            <input class="row col-name " type="text"/>
            <input class="col-name col-details row" type="text" />
            <input class="col-name col-details row"  />
            <input class="col-name col-details row" type="text" />
        </div>

    </div>
</div>