<mat-tab-group dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">business</mat-icon>
          
            Business
        </ng-template>
        Content 1
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">badge</mat-icon>
          
            License
        </ng-template>
        License
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">inventory</mat-icon>
          
            Enrollment
        </ng-template>
        <app-enrollment></app-enrollment>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">grid_view</mat-icon>
          
            Custom Field
        </ng-template>
        <app-custom-field></app-custom-field>
    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">local_offer</mat-icon>
          
          Tag Managemen
        </ng-template>
        <app-tag-management></app-tag-management>
    </mat-tab>


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">remove_red_eye</mat-icon>
          
            Visibility
        </ng-template>
        <app-visibility></app-visibility>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">contact_phone</mat-icon>
          
            Ldap Contact
        </ng-template>
        License
    </mat-tab>
</mat-tab-group>